<!DOCTYPE html>
<html>
  <head>
    <title>Okatazuke</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
       <%= csrf_meta_tags %>
       <%= csp_meta_tag %>

       <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
       <%= javascript_importmap_tags %>
    
    <!-- Header Start -->
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <%= link_to "okatazake", root_path, class: "brand" %>
        <nav class="nav">
          <button class="nav__toggle" aria-expanded="false" type="button">
            menu
          </button>
          <ul class="nav__wrapper">
            <li class="nav__item"><a href="#">Home</a></li>
            <li class="nav__item"><a href="#">About</a></li>
            <li class="nav__item"><a href="#">片付け日記</a></li>
            <li class="nav__item"><a href="#">多数決</a></li>
            <li class="nav__item"><a href="#">Contact</a></li>
             <% if user_signed_in? %>
              <li><%= link_to current_user.nickname, "#", class: "nav__item1" %> </li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, data: { turbo: false }, class: "nav__item1" %> </li>
              <% else %>
            <li><%= link_to '新規会員登録', new_user_registration_path, class: "nav__item1" %></li>
            <li><%= link_to 'ログイン', new_user_session_path,  class: "nav__item1" %></li>
           <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Header End -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>